body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #ffffff;
}

header {
    background: #381866;
    padding: 20px;
    text-align: center;
    color: white;
}

#searchInput {
    width: 90%;
    max-width: 400px;
    padding: 12px;
    margin-top: 15px;
    border-radius: 8px;
    border: none;
}

#productList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product {
    border: 2px solid #381866;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.product img {
    width: 100%;
    border-radius: 8px;
}

.product a {
    display: block;
    margin-top: 10px;
    background: #381866;
    padding: 10px;
    color: white;
    border-radius: 8px;
    text-decoration: none;
}

.product a:hover {
    opacity: 0.8;
}
